.wrapper {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    width: 100vw;
}
.personCard {
    width: 200px;
    padding: 20px;
    border: 1px solid;
    border-radius: 8px;
    text-align: center;
}

.userPhoto{
    width: 150px;
    height: 150px;
    border: 1px solid;
    border-radius: 100px;
    margin: 0 auto;
}
.userPhoto img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.footballersCard {
    width: 200px;
    padding: 20px;
    border: 1px solid;
    border-radius: 8px;
    text-align: center;
}